body {
  /* background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.left-container {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 30px;
  left: 5%;
  min-width: 400px;
}

.left-container img {
  height: 220px;
  transform: scaleX(-1);
}

.left-search {
  margin-top: auto;
}

.right-container {
  position: absolute;
  bottom: 30px;
  right: 5%;
  display: flex;
  gap: 30px;
}

.right-container img {
  height: 220px;
}

.right-search {
  margin-top: auto;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.moves {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.moves button {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
